In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from pycaret.regression import *
import warnings
warnings.filterwarnings("ignore", category=DeprecationWarning)

In [2]:
df = pd.read_csv(r"C:\Users\fabian\Downloads\parklane_combined_edited.csv")
print('Unfiltered row of dataframe is {}'.format(len(df)))

Unfiltered row of dataframe is 727657

In [3]:
# filter where hr or hb is  not 0
df = df[(df['sys_hr'] != 0) | (df['sys_hb'] != 0)]
df = df[(df['h_chwst'] >=5) & (df['h_chwst'] <=20)]
df = df[(df['h_chwrt'] >=5) & (df['h_chwrt'] <=25)]
df = df[(df['pchwp_1_kw'] >=1.2) & (df['pchwp_1_kw'] <=5)]
# unsure of pchwp_2 kw filtering
#df = df[(df['pchwp_2_kw'] >=1.2) & (df['pchwp_2_kw'] <=5)]
df = df[(df['h_chwf'] >= 0) & (df['h_chwf'] <= 1500)]
df = df[(df['cwp_1_kw'] > 0) & (df['cwp_1_kw'] <=25)]
df = df[(df['cwp_2_kw'] > 0) & (df['cwp_2_kw'] <=25)]
df = df[(df['h_chwf'] >0) & (df['h_chwf'] <=1500)]
df = df[(df['h_cwst']>=20) & (df['h_cwst']<=32)]
df = df[(df['h_cwrt']>=20) & (df['h_cwrt']<=40)]
df = df[(df['ch_1_kwe']>=0) & (df['ch_1_kwe']<=350)]
df = df[(df['ch_2_kwe']>=0) & (df['ch_2_kwe']<=350)]
df = df[(df['ct_1_kw']>=0) & (df['ct_1_kw']<=15)]
df = df[(df['ct_2_kw']>=0) & (df['ct_2_kw']<=15)]
df = df[(df['sys_cl']>=200) & (df['sys_cl']<=500)]
df = df[(df['sys_hr']>0) & (df['sys_hr']<=1000)]
df = df[(df['sys_kw']>0) & (df['sys_kw']<=400)]
fil_df = df[(df['ch_sysef']>=0.4) & (df['ch_sysef']<=0.7) & (df['sys_eff']>=0.4) & (df['sys_eff']<=0.9)]

# efficiency column reduce by air system efficiency
fil_df['sys_eff'] = fil_df['sys_eff'] - fil_df['air_eff']
# replace NaN values with 0? median imputation
fil_df = fil_df.fillna(0)

# creating Lift Column, Lift: [h_cwrt-h_chwst]
fil_df['lift'] = fil_df['h_cwrt'] - fil_df['h_chwst']
fil_df['ct_tot_kw'] = fil_df['ct_1_kw'] + fil_df['ct_2_kw']
# both chillers running
fil_df['ch_run'] = (fil_df['ch_1_kwe']>=2) & (fil_df['ch_2_kwe']>=2)
fil_df['ch_run'] = fil_df['ch_run'].astype(int)

# filtering additional columns
fil_df = fil_df[(fil_df['ct_tot_kw']>=2) & (fil_df['ct_tot_kw']<=30)]
fil_df = fil_df[(fil_df['lift']>=18) & (fil_df['lift']<=30)]

print("total number of rows after filter is {}".format(len(fil_df)))

# manipulation of features
fil_df['ct_tot_kw'] = np.log(fil_df['ct_tot_kw']) / np.log(5)
fil_df['sys_cl'] = np.log(fil_df['sys_cl']) / np.log(50)
fil_df['lift'] = np.log(fil_df['lift']) / np.log(5)

# selecting related features only
ch_sysef_df = fil_df[['ch_sysef', 'lift', 'sys_cl', 'ct_tot_kw', 'ch_run', 'h_cwst']]
# reset
ch_sysef_df = ch_sysef_df.reset_index()

total number of rows after filter is 210699

## Pycaret

In [4]:
## lift based on ct_tot_kw and cwst
lift_df = ch_sysef_df[['lift', 'ct_tot_kw', 'h_cwst']]

reg1 = setup(lift_df, target = 'lift', session_id=1, log_experiment=True, experiment_name='lift prediction')
best_model = compare_models(fold=5)

2024/06/25 17:56:41 INFO mlflow.tracking.fluent: Experiment with name 'lift prediction' does not exist. Creating a new experiment.

In [5]:
lightgbm = create_model('lightgbm')
tuned_lightgbm = tune_model(lightgbm, n_iter=10, optimize = 'RMSE')
save_model(tuned_lightgbm, 'lift_prediction_log')

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).
Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=Memory(location=None),
          steps=[('numerical_imputer',
                  TransformerWrapper(include=['ct_tot_kw', 'h_cwst'],
                                     transformer=SimpleImputer())),
                 ('categorical_imputer',
                  TransformerWrapper(include=[],
                                     transformer=SimpleImputer(strategy='most_frequent'))),
                 ('trained_model', LGBMRegressor(n_jobs=-1, random_state=1))]),
 'lift_prediction_log.pkl')

In [6]:
pred_holdouts = predict_model(lightgbm)
pred_holdouts.head()

        ct_tot_kw     h_cwst      lift  prediction_label
204408   1.344434  29.015131  1.979929          1.976603
18022    1.208351  27.798399  1.973514          1.970102
141      1.211189  27.143965  1.956830          1.952107
99779    1.614374  26.277998  1.916853          1.909493
57624    1.846259  28.405087  1.972643          1.981662

In [4]:
## sysef based on ct_tot_kw, cwst, lift, config

reg2 = setup(ch_sysef_df, target = 'ch_sysef', session_id=2, log_experiment=True, experiment_name='sysef prediction')
best_model = compare_models(fold=5)

In [5]:

save_model(best_model, 'sysef_prediction_log')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=Memory(location=None),
          steps=[('numerical_imputer',
                  TransformerWrapper(include=['index', 'lift', 'sys_cl',
                                              'ct_tot_kw', 'ch_run', 'h_cwst'],
                                     transformer=SimpleImputer())),
                 ('categorical_imputer',
                  TransformerWrapper(include=[],
                                     transformer=SimpleImputer(strategy='most_frequent'))),
                 ('trained_model',
                  ExtraTreesRegressor(n_jobs=-1, random_state=2))]),
 'sysef_prediction_log.pkl')

In [6]:
pred_holdouts = predict_model(best_model)
pred_holdouts.head()

,index,lift,sys_cl,ct_tot_kw,ch_run,h_cwst,ch_sysef,prediction_label
124751,439078,1.947158,1.535494,1.977941,1,28.716831,0.587793,0.581855
194067,679704,1.975183,1.511488,1.611409,1,29.246607,0.561075,0.578252
128104,463344,1.984645,1.513354,1.989372,0,28.390808,0.595719,0.594175
145886,549694,1.996245,1.556494,1.966296,1,29.207752,0.633542,0.625386
202876,704317,1.937107,1.417711,0.995009,1,28.499374,0.502085,0.544002